<?xml version="1.0" encoding="UTF-8"?>

<!--

    Document   : Routes.xml
    Created on : 8 avril 2012, 10:38
    Author     : FFOZEU
    Description:
        Purpose of the document follows.
-->

<routes xmlns:xi="http://www.w3.org/2001/XInclude">
    <route url="/admin/" module="Index" action="index"/>
    <route url="/admin/index.html" module="Index" action="index"/>
    
    <!-- import route du module configuration -->
    <xi:include href="../../Modules/Configurations/Config/BConfigurationsRoute.xml#xpointer(/routes/*)">
        <xi:fallback>
        <error>xinclude: BConfigurationRoute.xml n\'a pas été trouvé</error>
        </xi:fallback>
    </xi:include>
     <!-- import route du module ModuleConfigSMT -->
    <xi:include href="../../Modules/ConfigSMTP/Config/BConfigSMTPRoute.xml#xpointer(/routes/*)">
        <xi:fallback>
        <error>xinclude: BConfigSMTPRoute.xml n\'a pas été trouvé</error>
        </xi:fallback>
    </xi:include> 
     <!-- import route du module ModuleUtilisateur -->
    <xi:include href="../../Modules/Utilisateurs/Config/BUtilisateursRoute.xml#xpointer(/routes/*)">
        <xi:fallback>
        <error>xinclude: BUtilisateursRoute.xml n\'a pas été trouvé</error>
        </xi:fallback>
    </xi:include>
    <!-- import route du module ModuleCreator -->
    <xi:include href="../../Modules/ModuleCreator/Config/BModuleCreatorRoute.xml#xpointer(/routes/*)">
        <xi:fallback>
        <error>xinclude: BModuleCreatorRoute.xml n\'a pas été trouvé</error>
        </xi:fallback>
    </xi:include>
   
    <xi:include href="../../Modules/Traduction/Config/BTraductionRoute.xml#xpointer(/routes/*)">
        <xi:fallback>
        <error>xinclude: BTraductionRoute.xml n\'a pas été trouvé</error>
        </xi:fallback>
    </xi:include>
    
    <!-- import route du module Lang -->
    <xi:include href="../../Modules/Lang/Config/BLangRoute.xml#xpointer(/routes/*)">
        <xi:fallback>
            <error>xinclude: BLangRoute.xml n'a pas été trouvé</error>
        </xi:fallback>
    </xi:include>

   <!-- import route du module Menu -->
    <xi:include href="../../Modules/Menu/Config/BMenuRoute.xml#xpointer(/routes/*)">
        <xi:fallback>
        <error>xinclude: BMenuRoute.xml n\'a pas été trouvé</error>
        </xi:fallback>
    </xi:include>
</routes>