<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : routes.xml
    Created on : 3 avril 2012, 23:37
    Author     : FFOZEU
    Description:
        Purpose of the document follows.
-->

<routes xmlns:xi="http://www.w3.org/2001/XInclude">
    <!--route url="/" module="Index" action="index" /-->
	<route url="/" module="Index" action="Index" />
    <route url="/index.html" module="Index" action="index" />
</routes>
