.close{
	text-indent: 0px;
}

.sortable_column .sort_link{
	color: #000;
}

.sortable_column.active_sort .sort_link.active{
	color: #00aff0
}

.btn-default.btn-on.active{
	background-color: #5BB75B;
	color: white;
}

.btn-default.btn-off.active{
	background-color: #DA4F49;
	color: white;
}

.dropdown-menu>li>.bulk_action .text-success{
    color: #3c763d;
}

.dropdown-menu>li>.bulk_action .text-danger{
    color: #a94442;
}

.list-action-enable {
    font-size: 1.3em;
    display: inline-block;
    width: 30px;
    text-align: center;
    color: rgba(255,255,255,0.8);
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.list-action-enable.action-disabled {
    color: #E08F95;
}

.list-action-enable.action-enabled {
    color: #72C279;
}

.translatable-div {
    padding-left:0px;
    padding-right:0px;
}

.lang_list_div{
	padding-right:0px;
}

.loader_modal_icon{
    font-size: 80px;
}
.loader_modal{
    text-align: center;
}

.modal-body >*{
	padding:20px;
	padding-top: 0px;
}

.modal-body .portlet{
	margin-bottom: 0px;
}
.modal_max_size{
	width:90%;
}