.alert .close{
	text-indent: 0px;
}

.sortable_column .sort_link{
	color: #000;
}

.sortable_column.active_sort .sort_link.active{
	color: #00aff0
}

.btn-default.btn-on.active{
	background-color: #5BB75B;
	color: white;
}

.btn-default.btn-off.active{
	background-color: #DA4F49;
	color: white;
}

.dropdown-menu>li>.bulk_action .text-success{
    color: #3c763d;
}

.dropdown-menu>li>.bulk_action .text-danger{
    color: #a94442;
}