<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : Routes.xml
    Created on : 8 avril 2012, 10:38
    Author     : FFOZEU
    Description:
        Purpose of the document follows.
-->

<routes xmlns:xi="http://www.w3.org/2001/XInclude">
    <!-- import route du module Webservices -->
     <xi:include href="../../Modules/Webservices/Config/BWebservicesRoute.xml#xpointer(/routes/*)">
         <xi:fallback>
             <error>xinclude: BWebservicesRoute.xml n'a pas été trouvé</error>
         </xi:fallback>
     </xi:include>

 </routes>